<ion-view title="Vendors Details" ng-controller="vendors" ng-init="Edit()">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
        <a href="#/app/vender_edit/{{EditId}}" class="button button-icon button-clear ion-edit"></a>
    </ion-nav-buttons>
  <ion-content>
	<h1 ng-model= "Vendors.name" style="text-align: center;"> {{Vendors.name}}</h1>
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Vender Name</span>
			<label  ng-model= "Vendors.name">{{Vendors.name}}</label>
		  </label>
		</div>  
		  
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Mobile No</span>
			<label  ng-model= "Vendors.contact">{{Vendors.contact}}</label>
		  </label>
		</div>  
		  
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Address</span>
			<label  ng-model= "Vendors.address">{{Vendors.address}}</label>
		  </label>
		</div>  
		
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Opening Balance</span>
			<label  ng-model= "Vendors.city">{{Vendors.city}}</label>
		  </label>
		</div>
		
				<div class="list">
		  <label class="item item-input">
			<span class="input-label">Vender Name</span>
			<label  ng-model= "Vendors.state">{{Vendors.state}}</label>
		  </label>
		</div>  
		  
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Mobile No</span>
			<label  ng-model= "Vendors.email">{{Vendors.email}}</label>
		  </label>
		</div>  
		  
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Address</span>
			<label  ng-model= "Vendors.pincode">{{Vendors.pincode}}</label>
		  </label>
		</div>  
		
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Opening Balance</span>
			<label  ng-model= "Vendors.openbalance">{{Vendors.openbalance}}</label>
		  </label>
		</div>

  </ion-content>
</ion-view>