<ion-view view-title="Reset Password" name="login-view">
  <ion-content class="padding">
  <a  class=" button button-positive" side="right"  href="#/registration">Create Account</a>
  <div class= "list" style="text-align:center;  margin-top:100px"><img src="img/stack.png" alt="Mountain View"></div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="data.email">
          </label>
          
      </div>
      <button type="button" class="button button-block button-calm" ng-click="forgetpassword()"  >Reset Password</button>
	  <div style="text-align:center; margin-top:20px">
	  <h4>Powered By-Stack Infotech Pvt.Ltd.</h4>
	  <a target="_blank" href="https://stackinfotech.com"><h4>www.stackinfotech.com</h4></a></div>
  </ion-content>
</ion-view>
