<ion-view title="MENUS" ng-init="load()">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class ="padding dashboard">
		<div class="card">
		  <a href="#/app/material_list" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-filing"></i>
			Raw Materials
		  </a>
		</div>
		
		<div class="list card">
		  <a href="#/app/product_list" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-android-list"></i>
			Finished Product
		  </a>
		</div>
	  	<div class="list card">
		  <a href="#/app/vender_list" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-person"></i>
			Vendors
		  </a>
		</div>

		<div class="list card">
		  <a href="#/app/customer_list" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-person-stalker"></i> 
			Customers
		  </a>
		</div>
		
		<div class="list card">
		  <a href="#/app/company_list" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-easel"></i>
			Companies
		  </a>
		</div>
		
		<div class="list card">
		  <a href="#/app/purchase_list" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-ios-box"></i>
			Purchase
		  </a>
		</div>
		 <div class="list card">
		  <a href="#/app/sale_list" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-ios-cart-outline"></i>
			Sales
		  </a>
		</div>
		
		<div class="list card">
		  <a href="#/app/reports" style = "text-align:center" class="item item-icon-left">
			<i class="icon ion-ios-pulse-strong"></i>
			Reports
		  </a>
		</div> 
  </ion-content>
</ion-view>