<ion-view view-title="BILLING">
		<ion-content  class="padding">
	
		<div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"><img src="img/stack.png" alt="Stack Infotech"></div>
                
                <h4 style="text-align:center";><b>Inventory Management</b></h4>
            </div>
        </div>		


        

		  <form style="margin-top:10%;"  name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)">
  <div class="list">
    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : authorizationForm.email.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.email.$valid && authorizationForm.$submitted}">
      <input type="text" name="email"  ng-model="User.email"  required placeholder="Email">
    </label>
  <div class="error-container" ng-show="authorizationForm.email.$error && authorizationForm.$submitted" ng-messages="authorizationForm.email.$error">
              <div class="error" ng-message="required">
                <i class="ion-information-circled"></i> 
                This field is required!
            </div>
            <div class="error" ng-message="minlength">
                <i class="ion-information-circled"></i> 
                Minimum length of this field is 5 characters!
            </div>
            <div class="error" ng-message="maxlength">
                <i class="ion-information-circled"></i> 
                Maximum length of this field is 20 characters!
            </div>
    </div>
 
    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : authorizationForm.password.$invalid  && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
      <input type="password" name="password" ng-model="User.Password" ng-minlength="8" ng-maxlength="20" required placeholder="Password">
    </label>
 
    <div class="error-container last-error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
       <div class="error" ng-message="required">
                <i class="ion-information-circled"></i> 
                This field is required!
            </div>
            <div class="error" ng-message="minlength">
                <i class="ion-information-circled"></i> 
                Minimum length of this field is 8 characters!
            </div>
    </div>
 
  </div>
  <button name="submit" class="button button-full button-positive ink" type="submit">
    Sign In
  </button>
 
</form>

<div class="button-bar">
 	 <a  class=" button button-positive" side="right"  href="#/registration">Create Account</a>
  <a  class=" button button-positive" side="left"  href="#/forgetpassword">Forget Password</a>
</div>
	  <div style="text-align:center; margin-top:20px">
	  <h4>Powered By-Stack Infotech Pvt.Ltd.</h4>
	  <a target="_blank" href="https://stackinfotech.com"><h4>www.stackinfotech.com</h4></a></div>
			
	</ion-content>
</ion-view>
