<ion-view title="Customer Details" ng-controller="customers" ng-init="Edit()">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	<ion-nav-buttons side="right">
        <a href="#/app/customer_edit/{{EditId}}" class="button button-icon button-clear ion-edit"></a>
    </ion-nav-buttons>
	
  <ion-content>
	<h1 ng-model= "Customers.cname" style="text-align: center;"> {{Customers.cname}}</h1>
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Customer Name</span>
			<label  ng-model="Customers.cname">{{Customers.cname}}</label>
		  </label>
		</div>  
		  
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Mobile</span>
			<label  ng-model= "Products.pdescription">{{Customers.ccontact}}</label>
		  </label>
		</div>  
		  
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">Email</span>
			<label  ng-model= "Products.pprice">{{Customers.cemail}}</label>
		  </label>
		</div>  
		
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">billing_address</span>
			<label  ng-model= "Products.vat">{{Customers.caddress}}</label>
		  </label>
		</div>
		
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">billing_city</span>
			<label  ng-model= "Products.vat">{{Customers.ccity}}</label>
		  </label>
		</div>
		
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">billing_state</span>
			<label  ng-model= "Products.vat">{{Customers.cstate}}</label>
		  </label>
		</div>
		
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">pincode</span>
			<label  ng-model= "Products.vat">{{Customers.cpincode}}</label>
		  </label>
		</div>

  </ion-content>
</ion-view>