<ion-view title="COMPANIES" ng-controller="CompanyCtrl" >

	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
  <ion-content>
  
	<form name="companyForm" ng-submit="Save()" > 

      

        <div class="list list-inset">
            <label class="item item-input">
                Upload Company Logo
                <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" class="custom-file-input" accept="image/*" />
              
            </label>
            <img src={{Praveen}} style="height:100px;width:100px;"   />
        </div>


		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" id="Tin" name="Tin" placeholder="Tin No" ng-model="Company.tin" required/>
		  </label>
		  <span ng-show="companyForm.Tin.$error.required && companyForm.Tin.$dirty">required</span>
		</div>

		<div class="error-container" ng-show="companyForm.Tin.$error && companyForm.$submitted" ng-messages="companyForm.Tin.$error">
			<div class="error" ng-message="required">
				<i class="ion-information-circled"></i>
				This field is required!
			</div>                   
		</div>
		
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="Company Name" ng-model="Company.name" required/>
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="number" placeholder="Mobile" ng-model="Company.contact" required/>
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="email" id="email" name="email" placeholder="Email" ng-model="Company.email" required/>
		  </label>
		  <span ng-show="companyForm.email.$error.required && companyForm.email.$dirty">required</span>
		  <span ng-show="!companyForm.email.$error.required && companyForm.email.$error.email && companyForm.email.$dirty" style="color:red;">Invalid email</span>	
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="Address" ng-model="Company.address" required/>
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="City" ng-model="Company.city" required/>
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="State" ng-model="Company.state" required/>
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="number" placeholder="pincode" ng-model="Company.pin" required/>
		  </label>
		</div>
		
<!-- 		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="billing_state">
		  </label>
		</div> -->
		
		<label class="item">
			<button class="button button-block button-positive" type="submit">Submit</button>
		</label>
	</form>

      <style>
          .custom-file-input{
              visibility: hidden !important;
          }

          .custom-file-input::before {
              content: 'Select some files';
              display: inline-block;
              background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
              border: 1px solid #999;
              border-radius: 3px;
              padding: 5px 8px;
              outline: none;
              white-space: nowrap;
              -webkit-user-select: none;
              cursor: pointer;
              text-shadow: 1px 1px #fff;
              font-weight: 700;
              font-size: 10pt;
            
          }

          .custom-file-input:hover::before {
              border-color: black;
          }

          .custom-file-input:active::before {
              background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
          }
      </style>

  </ion-content>
</ion-view>
