<ion-view title="Company EDIT"  ng-controller="CompanyCtrl" ng-init="Detail()">
  
  	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	 	<ion-nav-buttons side="right">
        <button ng-click="Delete({{EditId}})" class="button button-icon button-clear ion-trash-b"></button>
    </ion-nav-buttons>
  
  <ion-content>
  <h1 style="text-align: center;"> {{Company.name}}</h1>
	<form name="companyForm" ng-submit="Update(companyForm)">


        <div class="list list-inset">
            <label class="item item-input">
                Upload Company Logo
                <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" class="custom-file-input" accept="image/*" />

            </label>
            <img style="height:100px;width:100px;" ng-src="{{Company.logo}}" ng-if="Company.logo" />
        </div>



		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="Tin No" ng-model="Company.tin">
		  </label>
		</div>
		<!-- tin, name, address, city, contact, state, pin, email -->
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="Company Name"  ng-model="Company.name">
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="number" placeholder="Mobile"  ng-model="Company.contact">
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="email" placeholder="Email"  ng-model="Company.email">
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="Address"  ng-model="Company.address">
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="City"  ng-model="Company.city">
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="State"  ng-model="Company.state">
		  </label>
		</div>
		
		<div class="list list-inset">
		  <label class="item item-input">
			<input type="number" placeholder="pincode"  ng-model="Company.pin">
		  </label>
		</div>

		
		<label class="item">
			<button class="button button-block button-positive" type="submit">Submit</button>
		</label>
	</form>

      <style>
          .custom-file-input {
              visibility: hidden !important;
          }

              .custom-file-input::before {
                  content: 'Select some files';
                  display: inline-block;
                  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
                  border: 1px solid #999;
                  border-radius: 3px;
                  padding: 5px 8px;
                  outline: none;
                  white-space: nowrap;
                  -webkit-user-select: none;
                  cursor: pointer;
                  text-shadow: 1px 1px #fff;
                  font-weight: 700;
                  font-size: 10pt;
              }

              .custom-file-input:hover::before {
                  border-color: black;
              }

              .custom-file-input:active::before {
                  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
              }
      </style>


  </ion-content>
</ion-view>