<ion-view ng-controller="rawmaterial" title="Row Material">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content>
	<form name="rawmaterialForm" ng-submit="Save(rawmaterialForm)">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Raw Material Name" ng-model="RawMaterial.mname">
			</label>
			
			<label class="item item-input">
				<input type="text" placeholder="Raw Material Type" ng-model="RawMaterial.mtype">
			</label>
			
			<label class="item item-input">
				<input type="number" placeholder="Purchase Price" ng-model="RawMaterial.mprice">
			</label>
			  
			<label class="item item-input">
				<input type="text" placeholder="Material Description" ng-model="RawMaterial.mdescription">
			</label>
			
			<label class="item item-input">
				<input type="number" placeholder="Vat (in %)" ng-model="RawMaterial.mvat">
			</label>
			
			<label class="item">
				<button class="button button-block button-positive" type="submit" >Submit</button>
			</label>
		</div>
	</form>
  </ion-content>
</ion-view>
