<ion-view ng-controller="rawmaterial" title="Row Material">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <form name="rawmaterialForm" novalidate="" ng-submit="Save(rawmaterialForm)">
            <div class="list">             

                <label class="item item-input" ng-class="{ 'has-errors' : rawmaterialForm.mname.$invalid && rawmaterialForm.$submitted, 'no-errors' : rawmaterialForm.mname.$valid && rawmaterialForm.$submitted}">
                    <input type="text" placeholder="Raw Material Name" name="mname" ng-minlength="5" ng-model="RawMaterial.mname" required>
                </label>
                <div class="error-container" ng-show="rawmaterialForm.mname.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.mname.$error">
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i>
                        This field is required!
                    </div>
                    <div class="error" ng-message="minlength">
                        <i class="ion-information-circled"></i>
                        Minimum length of this field is 5 characters!
                    </div>
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Raw Material Type" name="mtype"  ng-model="RawMaterial.mtype" required>
                </label>
                <div class="error-container" ng-show="rawmaterialForm.mtype.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.mtype.$error">
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i>
                        This field is required!
                    </div>                   
                </div>
                <label class="item item-input">
                    <input type="number" placeholder="Purchase Price" name="mprice" required ng-model="RawMaterial.mprice">
                </label>
                <div class="error-container" ng-show="rawmaterialForm.mprice.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.mprice.$error">
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i>
                        This field is required!
                    </div>
                    <div class="error" ng-message="minlength">
                        <i class="ion-information-circled"></i>
                        Minimum length of this field is 2 characters!
                    </div>
                </div>
                <label class="item item-input">
                    <input type="text" name="mdescription" required placeholder="Material Description" ng-minlength="5" ng-model="RawMaterial.mdescription">
                </label>
                <div class="error-container" ng-show="rawmaterialForm.mdescription.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.mdescription.$error">
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i>
                        This field is required!
                    </div>
                    <div class="error" ng-message="minlength">
                        <i class="ion-information-circled"></i>
                        Minimum length of this field is 5 characters!
                    </div>
                </div>
                <label class="item item-input">
                    <input type="number" name="mvat" placeholder="Vat (in %)" ng-model="RawMaterial.mvat" required>
                </label>
                <div class="error-container" ng-show="rawmaterialForm.mvat.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.mvat.$error">
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i>
                        This field is required!
                    </div>                  
                </div>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
