<ion-view title="Raw Material EDIT" ng-controller="rawmaterial" ng-init="DisplayData()">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
        <button  class="button button-icon button-clear ion-trash-b" ng-click="Delete({{EditId}})"></button>
    </ion-nav-buttons>
  <ion-content>
	<h1 ng-model= "RawMaterial.name" style="text-align: center;"> {{RawMaterial.name}}</h1>
      <form name="rawmaterialForm" novalidate="" ng-submit="Update(rawmaterialForm)">
          <div class="list">
              <label class="item item-input" ng-class="{ 'has-errors' : rawmaterialForm.name.$invalid && rawmaterialForm.$submitted, 'no-errors' : rawmaterialForm.name.$valid && rawmaterialForm.$submitted}">
                  <span class="input-label">Name </span>
                  <input type="text" placeholder="Raw Material Name" name="name" ng-minlength="5" ng-model="RawMaterial.name" required>
              </label>
              <div class="error-container" ng-show="rawmaterialForm.name.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.name.$error">
                  <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i>
                      This field is required!
                  </div>
                  <div class="error" ng-message="minlength">
                      <i class="ion-information-circled"></i>
                      Minimum length of this field is 5 characters!
                  </div>
              </div>
              <label class="item item-input">
                  <span class="input-label">Material Type</span>
                  <input type="text" placeholder="Raw Material Type" name="type" ng-model="RawMaterial.type" required>
              </label>
              <div class="error-container" ng-show="rawmaterialForm.type.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.type.$error">
                  <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i>
                      This field is required!
                  </div>
              </div>
              <label class="item item-input">
                  <span class="input-label">Price</span>
                  <input type="number" placeholder="Purchase Price" name="price" required ng-model="RawMaterial.price">
              </label>
              <div class="error-container" ng-show="rawmaterialForm.price.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.price.$error">
                  <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i>
                      This field is required!
                  </div>
                  <div class="error" ng-message="minlength">
                      <i class="ion-information-circled"></i>
                      Minimum length of this field is 2 characters!
                  </div>
              </div>
              <label class="item item-input">
                  <span class="input-label">Description</span>
                  <input type="text" name="description" required placeholder="Material Description" ng-minlength="5" ng-model="RawMaterial.description">
              </label>
              <div class="error-container" ng-show="rawmaterialForm.description.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.description.$error">
                  <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i>
                      This field is required!
                  </div>
                  <div class="error" ng-message="minlength">
                      <i class="ion-information-circled"></i>
                      Minimum length of this field is 5 characters!
                  </div>
              </div>
			  <label class="item item-input">
                  <span class="input-label">Material Unit</span>
                  <input type="text" name="unit" required placeholder="Material Unit" " ng-model="RawMaterial.unit">
              </label>
              <div class="error-container" ng-show="rawmaterialForm.unit.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.unit.$error">
                  <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i>
                      This field is required!
                  </div>
                  <!-- <div class="error" ng-message="minlength">
                      <i class="ion-information-circled"></i>
                      Minimum length of this field is 5 characters!
                  </div> -->
              </div>

              <label class="item item-input">
                  <span class="input-label">Vat (in %)</span>
                  <input type="number" name="vat" placeholder="Vat (in %)" ng-model="RawMaterial.vat" required>
              </label>
              <div class="error-container" ng-show="rawmaterialForm.vat.$error && rawmaterialForm.$submitted" ng-messages="rawmaterialForm.vat.$error">
                  <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i>
                      This field is required!
                  </div>
              </div>
          </div>
          <label class="item">
              <button class="button button-block button-positive" type="submit">Update</button>
          </label>

      </form>
  </ion-content>
</ion-view>