<ion-view title="Purchases List" ng-controller="PurchaseController as vm" ng-init="LoadCompanylist()">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#/app/purchase_add" class="button button-icon button-clear ion-plus"></a>
    </ion-nav-buttons>
    <ion-content>
       <!--  <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-if="PurchaseList.length == 0">
                No Records Found!
            </ion-item>
            <ion-item ng-repeat="list in PurchaseList" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <div class="item item-button-right">
                    <h2>{{list.val.Date}}  -- {{list.id}}</h2>
                    <button ng-click="CreateInvoice(list.challanid)" class="button button-positive">
                        Invoice
                    </button>
                </div>
            </ion-item>
        </ion-list> -->
		<ion-list>

  <ion-checkbox ng-model="filter.red"><label class="item item-input item-select">
    <div class="input-label" >
     Select Comapany
    </div>
    <select   >
      <option   ng-repeat="Company in CompanyList"  >{{Company.val.name}}</option>
      
    </select>
	</label></ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Yellow</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Pink</ion-checkbox>

</ion-list>
		<div class="list">
		<label class="item item-input item-select">
    <div class="input-label" >
     Select Comapany
    </div>
    <select   >
      <option   ng-repeat="Company in CompanyList"  >{{Company.val.name}}</option>
      
    </select>
	</label>

  <label class="item item-input item-select">
    <div class="input-label" >
     Select Vendors
    </div>
    <select   >
      <option   ng-repeat="Vendor in VendorsList"  >{{Vendor.val.name}}</option>
      
    </select>
	</label>
<a  class="button button-full button-positive" href="#/app/purchase_ListofTransaction/{{Vendor.id}}" >
              Show
            </a>
</div>
 <div class="list ">
 <ion-radio ng-model="choice" ng-value="'A'">Datewise</ion-radio>
                <div class="row" style="background-color: ghostwhite">
                    <div class="col col-33">From Date</div>
                    <div class="col col">
                        <label class="item item-input" style="background-color: white">
                            <input type="date" placeholder="Date" ng-model="FormValues.datenew" ng-required="true">
                        </label>
                    </div>
                </div>
               
            </div>
			<div class="list ">
                <div class="row" style="background-color: ghostwhite">
                    <div class="col col-33">To Date</div>
                    <div class="col col">
                        <label class="item item-input" style="background-color: white">
                            <input type="date" placeholder="Date" ng-model="FormValues.datenew" ng-required="true">
                        </label>
                    </div>
                </div>
               
            </div>
		
        <script id="pdf-viewer.html" type="text/ng-template">
            <ion-modal-view cache-view="false" >
                <ion-header-bar>
            <a id="print" ></a>
                    <button ng-click="print()"  class="button button-icon icon ion-printer"></button>
                    <h1 class="title">Invoice</h1>
                    <button ng-click="vm.modal.hide()" class="button button-icon icon ion-android-close"></button>
                </ion-header-bar>
                <ion-content>
                    <ng-pdf ng-if="pdfUrl" id="pdfjs" template-url="partials/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
