<ion-view title="Product EDIT"  ng-controller="products" ng-init="Edit()">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
<ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ion-trash-b" ng-click="Delete({{EditId}})"></button>
    </ion-nav-buttons>

	
  <ion-content>
		<h1 ng-model= "Products.pname" style="text-align: center;"> {{Products.pname}}</h1>
      <form name="productsForm" novalidate="" ng-submit="Update(productsForm)">
       
          <div class="list list-inset">
              <label class="item item-input" ng-class="{ 'has-errors' : productsForm.pname.$invalid && productsForm.$submitted, 'no-errors' : productsForm.pname.$valid && productsForm.$submitted}">
                  <span class="input-label">Product Name</span>
                  <input type="text" placeholder="Product Name" name="pname" ng-minlength="5" ng-model="Products.pname" required>
              </label>
          </div>
          <div class="error-container" ng-show="productsForm.pname.$error && productsForm.$submitted" ng-messages="productsForm.pname.$error">
              <div class="error" ng-message="required">
                  <i class="ion-information-circled"></i>
                  This field is required!
              </div>
              <div class="error" ng-message="minlength">
                  <i class="ion-information-circled"></i>
                  Minimum length of this field is 5 characters!
              </div>
          </div>

          <div class="list list-inset">
              <label class="item item-input" ng-class="{ 'has-errors' : productsForm.pdescription.$invalid && productsForm.$submitted, 'no-errors' : productsForm.pdescription.$valid && productsForm.$submitted}">
                  <span class="input-label">Description </span>
                     <input type="text" placeholder="Product Description" name="pdescription" ng-minlength="5" ng-model="Products.pdescription" required>
              </label>
          </div>
          <div class="error-container" ng-show="productsForm.pdescription.$error && productsForm.$submitted" ng-messages="productsForm.pdescription.$error">
              <div class="error" ng-message="required">
                  <i class="ion-information-circled"></i>
                  This field is required!
              </div>
              <div class="error" ng-message="minlength">
                  <i class="ion-information-circled"></i>
                  Minimum length of this field is 5 characters!
              </div>
          </div>
       
          <div class="list list-inset">
              <label class="item item-input" ng-class="{ 'has-errors' : productsForm.pprice.$invalid && productsForm.$submitted, 'no-errors' : productsForm.pprice.$valid && productsForm.$submitted}">
                  <span class="input-label">Price </span>
                   <input type="number" name="pprice" placeholder="Sale Price" ng-model="Products.pprice" required>
              </label>
          </div>
          <div class="error-container" ng-show="productsForm.pprice.$error && productsForm.$submitted" ng-messages="productsForm.pprice.$error">
              <div class="error" ng-message="required">
                  <i class="ion-information-circled"></i>
                  This field is required!
              </div>
          </div>         

          <div class="list list-inset">
              <label class="item item-input">
                  <span class="input-label">Vat (%)</span>
                  <input type="number" placeholder="Vat (in %)" ng-model="Products.vat">
              </label>
          </div>

          <label class="item">
              <button class="button button-block button-positive" type="submit">Submit</button>
          </label>
      </form>
  </ion-content>
</ion-view>